# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/externalLibraries/*
/externalLibraries/
externalLibraries/*
externalLibraries/

/bRenderer/*
/bRenderer/
bRenderer/*
bRenderer/
bRenderer

/.vs/*
/.vs/
.vs/*
.vs/

/Debug/*
/Debug/
Debug/*
Debug/

/Release/*
/Release/
Release/*
Release/

/bRenderer_ios.xcodeproj/*
/bRenderer_ios.xcodeproj/
bRenderer_ios.xcodeproj/*
bRenderer_ios.xcodeproj/

/.DS_Store/*
/.DS_Store/
.DS_Store/*
.DS_Store/

/bRenderer.sln/*
/bRenderer.sln/
bRenderer.sln/*
bRenderer.sln/

/windows/*
/windows/
windows/*
windows/
